@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/light');
  font-weight: 300;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/regular');
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/calibre/medium');
  font-weight: 500;
}
