@import "vendor/normalize";
@import "fonts";

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Calibre';
  color: #fff;
}

* {
  box-sizing: content-box;
}

p {
  margin: 0;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.homepage {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgb(143, 143, 135);
}

.homepage__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: center no-repeat url('/images/splash.png');
  background-size: cover;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.homepage__buffer--ready + .homepage__background {
  opacity: 1;
}

.homepage__buffer {
  position: absolute;
  top:-99999px;
}

.homepage__description {
  position: relative;
  z-index: 2;
  padding: 235px 0 0 100px;
  line-height: 1.3em;
  font-size: 1.5rem;
  width: 330px;
  font-weight: 300;
}

.homepage__paragraph {
  margin-bottom: 2.5rem;

  &:last-childe {
    margin-bottom: 0;
  }
}
