@import "bourbon";
@import "vendor/normalize";
@import "fonts";
@import "clearfix";

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Calibre';
  color: #fff;
}

* {
  box-sizing: content-box;
}

p {
  margin: 0;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.link--with-border {
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 0 0 2px;
  @include transition(border-color .17s ease-in 0s);

  &:hover {
    border-bottom-color: #fff;
  }
}

.homepage {
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff;
}

.homepage__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: center no-repeat url('../images/splash.png');
  background-size: cover;
  @include transition(opacity .5s cubic-bezier(.33,0,.2,1) 0s);
  z-index: 1;
}

.homepage__buffer--ready + .homepage__background {
  opacity: 1;
}

.homepage__buffer {
  position: absolute;
  top:-99999px;
}

.homepage__description {
  position: relative;
  z-index: 2;
  padding: 235px 0 0 100px;
  line-height: 1.3em;
  font-size: 1.5rem;
  width: 330px;
  font-weight: 300;
}

.homepage__paragraph {
  margin-bottom: 2.5rem;
}

.homepage__social-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.homepage__social-link {
  float: left;
  padding-right: 10px;
  @include transition(opacity .4s ease-in-out 0s);
  opacity: 1;

  &:last-child {
    padding-right: 0;
  }
}

.homepage__social-link--transparent {
  opacity: .5;
}
