.homepage
  img#homepage__buffer.homepage__buffer(src="/images/splash.png")
  
  .homepage__background
  
  .homepage__description
    p.homepage__paragraph.
      Chloe Park is an experience designer based in San Francisco.
    p.homepage__paragraph.
      Currently she's helping redefine the dinning experience at
      #[a(href="https://www.opentable.com" class="link--with-border") OpenTable].
    p.homepage__paragraph.
      You can see some of her latest work on
      #[a(href="https://dribbble.com/chloepark" class="link--with-border") Dribbble]
      and
      #[a(href="https://instagram.com/chloepark" class="link--with-border") Instagram].
    p.homepage__paragraph.
      Say hi to #[a(href="https://twitter.com/chloepark" class="link--with-border") @chloepark]!
    ul.homepage__social-links.clearfix
      li.homepage__social-link
        #[a(href="https://twitter.com/chloepark"): img(src="/images/icons/twitter.svg")]
      li.homepage__social-link
        #[a(href="https://instagram.com/chloepark"): img(src="/images/icons/instagram.svg")]
      li.homepage__social-link
        #[a(href="https://dribbble.com/chloepark"): img(src="/images/icons/dribbble.svg")]
      li.homepage__social-link
        #[a(href="https://www.linkedin.com/in/chloepark"): img(src="/images/icons/linkedin.svg")]
