.homepage
  img#homepage__buffer.homepage__buffer(src="/images/splash.png")
  
  .homepage__background
  
  .homepage__description
    p.homepage__paragraph.
      Chloe Park is an experience designer based in San Francisco.
    p.homepage__paragraph.
      Currently she's helping redefine the dinning experience at
      #[a(href="https://www.opentable.com") OpenTable].
    p.homepage__paragraph.
      You can see some of her latest work on
      #[a(href="https://dribbble.com/chloepark") Dribbble]
      and
      #[a(href="https://instagram.com/chloepark") Instagram].
    p.homepage__paragraph.
      Say hi to #[a(href="https://twitter.com/chloepark") @chloepark]!
